@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquareL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquareR.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquare';
    src: url('/fonts/NanumSquareB.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}