@use "@/_colors.scss" as *;

.wrapper {
  height: 100dvh;
  padding: 0 20px;
}

.PaddingContainer {
  color: $Gray400;
}

.Container {
  height: calc(100% - 48px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;

  .title {
    font-size: 24px;
    font-weight: 700;
    color: $Blue400;
  }
}

.monthSelector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 24px;

  button {
    background: none;
    border: none;
    font-size: 24px;
    color: $Blue400;
    cursor: pointer;

    &:hover {
      color: $Blue400;
    }
  }

  span {
    font-size: 18px;
    font-weight: 600;
    color: $Gray400;
  }
}

.section {
  margin-bottom: 32px;
  background-color: #ffff;
  border-radius: 8px;
  padding: 16px;

  h2 {
    font-size: 18px;
    font-weight: 700;
    color: $Gray400;
    margin-bottom: 12px;
  }

  p {
    font-size: 14px;
    color: $Gray300;
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      border-radius: 8px;
      padding: 12px 16px;
      margin-bottom: 8px;
      font-size: 14px;
      color: $Gray400;

      strong {
        color: $Blue400;
        margin-right: 8px;
      }
    }
  }
}

p {
  font-size: 14px;
  color: $Gray400;
  text-align: center;
}


.rank {
  font-weight: 700;
  color: $Blue400;
  font-size: 16px;
  margin-right: 12px;
  flex-shrink: 0;
}

.diaryAuthor {
  font-size: 13px;
  color: $Gray300;
}


.voteItem {
  display: flex;
  align-items: flex-start;
  background: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  margin-bottom: 8px;
}

.voteTextBox {
  display: flex;
  flex-direction: column;
}

.voteTitle {
  font-weight: 600;
  color: $Gray400;
  font-size: 15px;
  margin-bottom: 4px;
}

.voteDescription {
  font-size: 13px;
  color: $Gray300;
}

.rank {
  font-weight: 700;
  color: $Blue400;
  font-size: 16px;
  margin-right: 12px;
  flex-shrink: 0;
}

.monthSelector button:disabled {
  color: $Gray200;
  cursor: not-allowed;
}
