@use '@/_colors.scss' as *; 
@use '@/styles/mixin.scss' as *;

.Wrapper {
  overflow: hidden;
  position: relative;
  height: 100dvh;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 40px 30px;
  height: 100dvh;
  justify-content: space-between;
  .BackgroundImg {
    position: absolute;
    left: 50%;
    top: 22vh; 
    transform: translateX(-50%);
    width: 43%;
    z-index: -9; 
}
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.inputRow {
  display: flex;
  gap: 8px;
  align-items: center;
}

.idInputWrapper {
  flex: 3;
}

.checkButtonWrapper {
  flex: 1;
}


