//Gray
$Gray50: #F2F2F2;
$Gray100: #C5C5C5;
$Gray200: #898989;
$Gray300: #545454;
$Gray400: #272727;

//Blud
$Blue50: #E4EDF4;
$Blue100: #97D5FF;
$Blue200: #2DAAFF;
$Blue300: #016BB3;
$Blue400: #164887; // main-color

//White
$White50: #FFFFFF;

//Red
$Red50: #FDD7D4;
$Red500: #FF3C2A;

//Orange
$Orange50: #F49B47;

//Green
$Green50: #CFE483;
$Green100: #97BE60;
$Green200: #60B12A;
$Green500: #2AB169;

//Kakao
$Bi-kakao: #FEE500;

//Bg-yellow
$Bg-Yellow: #fffbea;
