* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  font-family: "NanumSquare", "-apple-system", "BlinkMacSystemFont", "system-ui",
    "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
}

input,
textarea ::placeholder {
  font-family: "NanumSquare", "-apple-system", "BlinkMacSystemFont", "system-ui",
    "Roboto", "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
